html{
  scroll-behavior: smooth;
}

*{
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  font-size: 1rem;
  line-height: 1.5rem;
}

img{
  width: 100%;
}

.smaller-text{
  font-size: smaller;
}

.center-text{
  text-align: center;
}

.button, .button-2{
  color: white;
  font-weight: bold;
  background-color: #dd71c6;
  margin: 0 auto;
  padding: 10px;
}

.button-2{
  background-color: #FFCF54;
}

h1, h2, h3{
  font-family: Libre Baskerville;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  width: 100%;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

h3{
  font-size: 1.15rem;
}

header{
  width: 100%;
  z-index: 3;
  display: inline-grid;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: fixed;
}
  
.button-toggle-menu{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  position: fixed;
}
  
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 217, 0, .85);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity ease-in-out;
}
  
.toggle-menu {
  -webkit-appearance: none;
      -moz-appearance: none;
          appearance: none;
}
  
.toggle-menu:checked ~ nav {
  transform: translateX(0);
}

.toggle-menu:checked ~ .overlay {
  pointer-events: initial;
  opacity: 1;
}

header .logo{
  margin-top: 1.5vw;
  margin-left: 5vw;
  width: 50%;
}

nav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  transform: translateX(-100%);
  will-change: transform;
  transition: 0.3s transform linear;
  z-index: 1;
}

nav a{
  display: inline-block;
  color: currentColor;
  margin: 0 auto;
}

nav ul{
  list-style: none;
  padding: 20px 0;
  margin: 0;
}

nav ul li{
  padding: 10px 20px;
}

.countdown{
  border: solid transparent;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .5);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  width: 250px;
  height: 160px;
  margin: 0 auto;
}

.container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 10vw 10vw 10vw;
}

.no-padding{
  padding: 0;
}

.container > *{
  margin-bottom: 5vh;
}

#intro{
  background-image: url("../images/Background-color.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 74.6% 0;
  justify-content: center;
}

#perks{
  background-color: #dd71c6;
}

.card{
  background-color: white;
  border-radius: 15px;
  margin: 2.5vh 1.75vh;
  font-size: .75rem;
  height: 120px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: .5rem .25rem;
}

.card > *{
  margin: 0 auto .5rem auto;
}

.card-container{ 
  display: grid;
  grid-template-areas: "card1 card2" "card3 card4";
  align-items: center;
  justify-items: center;
}

.card p{
  line-height: normal;
}

.card i{
  font-size: 1.5rem;
}

.card1{
  grid-area: card1;
}

.card2{
  grid-area: card2;
}

.card3{
  grid-area: card3;
}

.card4{
  grid-area: card4;
}

.color-light-blue{
  color: #73C3F4;
}

.color-yellow{
  color: #FFCF54;
}

.color-pink{
  color: #dd71c6;
}

.color-green{
  color: #55A201;
}

.bold{
  font-weight: bold;
}

#functioning{
  background-color: #73c3f4;
  color: white;
}

.show-on-tentwentyfour{
  display: none;
}

table{
    border-collapse: collapse;
}

table ul{
  margin-top: 15px;
}

table li{
  margin-bottom: 15px;
}

th{
  border-bottom: 1px solid #73C3F4;
}

.table-header-pink{
  border-bottom: 1px solid #dd71c6;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  font-size: .75rem;
  text-align: start;
  display: block;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: '\f078';
  display: inline-block;
  font: var(--fa-font-solid);
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateX(250px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(162, 162, 162, 0.2);
  border-bottom: 1px solid rgba(5, 5, 5, 0.45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(180deg) translateX(-250px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.content-inner p{
  font-size: .75rem;
  text-align: start;
}

#about li{
  list-style: none;
  margin-bottom: 2.5vh;
}

#about .container{
  padding-top: 0;
  padding-bottom: 0;
}

.small-logo{
  width: 50%;
}

footer{
  width: 80%;
  margin: 0 auto;
}

.social > *{
  margin-right: 8px;
}

@media (min-width: 768px){

  .wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;   
  }

  .second-wrapper{
    width: 60%;
    margin: 0 auto;
  }

  header{
    position: relative;
    background-color: #f9f9f9;
  }

  header img{
    margin-left: 40%;
  }

  .button-toggle-menu{
    margin-right: 10%;
  }

  #intro{
    background-position: 96% 0;
  }

  #intro h1, #intro p{
    text-align: start;
    width: 50vw;
  }

  .card{
    height: 150px;
  }

  .card-container{ 
    grid-template-areas: "card1 card2 card3 card4";
  }

  table{
    width: 60%;
    margin: 0 auto;
  }

  .lbl-toggle::before {
    transform: translateX(375px);
  }

  .toggle:checked + .lbl-toggle::before {
    transform: rotate(180deg) translateX(-375px);
  }

  .info-container{
    width: 50%;
    padding: 0 0 0 10%;
  }

  .grid{
    display: grid;
    grid-template-areas: 
    "info info info"
    "about links links";
  }

  .info-container{
    grid-area: info;
  }

  .about-container{
    grid-area: about;
    padding: 0 0 0 30%;
  }

  .links-container{
    grid-area: links;
    padding: 0 0 0 10%;
  }

  footer .wrapper{
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px){

  header{
    display: flex;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    background-color: transparent;
    justify-content: space-evenly;
  }

  header .logo{
    width: 10%;
  }

  nav{
    position: relative;
    transform: none;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 10%;
  }

  nav ul li{
    display: inline-flex;
    margin: 0 .5vw;
    padding: 0;
    font-size: .75rem;
  }

  .button-toggle-menu {
    display: none;
  }
 
  #intro{
    background-position: 100%;
    padding-top: 200px;
  }

  .dissapear-on-tentwentyfour{
    display: none;
  }

  .show-on-tentwentyfour{
    display: flex;
  }

  .intro-container{
    display: grid;
    grid-template-areas: 
    "h1 countdown"
    "paragraph paragraph";
  }

  #intro h1{
    grid-area: h1;
    width: 80%;
    line-height: 3rem;
    margin: 0 0 10px 0;
  }

  .countdown{
    grid-area: countdown;
    width: 33vw;
    height: 100%;
  }

  #intro p{
    grid-area: paragraph;
    width: 50%;
  }

  #intro a{
    margin-left: 10%;
  }

  .card{
    height: 180px;
    width: 160px;
    font-size: large;
  }

  .card > *{
    margin-bottom: 15px;
  }

  .func-grid{
    display: grid;
    grid-template-areas: 
    "texts img"
    "button img";
  }

  #functioning .texts{
    grid-area: texts;
  }

  #functioning .button{
    grid-area: button;
  }

  #functioning img{
    grid-area: img;
    width: 120%;
  }

  #consultations h2, #help p, #help h2{
    text-align: center;
  }

  .lbl-toggle::before {
    transform: translateX(50%);
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(180deg) translateX(-50%);
  }

  .grid{
    grid-template-areas: 
    "info about links";
    grid-template-columns: 2fr 1fr 1fr;
  }

}
